<ion-content class="ion-padding">
    <div class="content">
        <ion-thumbnail class="float-ease">
            <img src="../../../assets/svg/sad_rocket.svg" />
        </ion-thumbnail>
        <div class="text-content">
            <h1 class="primary-color">Error 404 Not Found</h1>
            <p>Lo sentimos, no pudimos encontrar la página que buscas, pero si podemos llevarte a home. Si quieres que te guiemos, pulsa <b class="primary-color" routerLink="/home" routerDirection="forward">aquí</b>.
            </p>
        </div>
    </div>
</ion-content>