.content {
    height: 100%;
    width: 100%;
    padding-top: 20%;
}

ion-thumbnail {
    margin: auto;
    width: 70%;
    height: 40%;
}

.text-content {
    text-align: center;
    color: --primary-color;
}

.float-ease {
    animation: float 2s infinite ease;
}

@keyframes float {
    0% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
    50% {
        transform: translateY(1rem);
        -webkit-transform: translateY(1rem);
    }
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
}