form {
    width: 100%;
}

ion-toolbar {
    --background: url('../../../../assets/jpg/84f817c48d7031196c94828612eb1fc6.jpg') no-repeat center center / cover;
    color: white;
}

ion-col {
    display: flex;
}

ion-button {
    margin: auto;
}

ion-text {
    display: flex;
    width: 100%;
}

p {
    margin: auto;
}