<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Sign up</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <ion-thumbnail class="top-bottom-little-margin">
                    <img src="../../../../assets/png/title.png">
                </ion-thumbnail>
            </ion-col>
        </ion-row>
    </ion-grid>
    <form [formGroup]="form" class="top-bottom-middle-margin">
        <ion-item>
            <ion-label position="floating">User name
            </ion-label>
            <ion-input formControlName="name" type="name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">E-Mail
            </ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Password
            </ion-label>
            <ion-input required #passwordEyeRegister [type]="passwordTypeInput" formControlName="password"></ion-input>
            <button item-end class="btn_eye_icon" (click)="togglePasswordMode()">
                <ion-icon  [name]="iconpassword"></ion-icon>
            </button>
        </ion-item>
        <ion-button class="top-bottom-middle-margin" block color="primary" expand='block' [disabled]="form.invalid" (click)="signUp()">
            Registrarse
        </ion-button>
    </form>

    <ion-text>
        <p class="secundary-color" style="text-align: center">¿Ya dispones de una cuenta? <b class="primary-color" routerLink="/signin" routerDirection="forward">Inicia sesión</b>
    </ion-text>


</ion-content>