@font-face {
    font-family: 'Signika-regular';
    src: url('/assets/fonts/Signika-Regular.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Signika-light';
    src: url('/assets/fonts/Signika-Light.ttf');
    font-weight: 200;
    font-style: normal;
}

.small-font-size {
    font-size: 0.75rem;
}