<ion-header>
    <ion-toolbar *ngIf='searchActivated'>
        <div style="display: flex;">
            <ion-searchbar [debounce]="500" clearIcon='undefined' (ionChange)="getPostsByTitle($event.target.value)"></ion-searchbar>
            <ion-button (click)="presentSearchBar(false)" fill="clear">
                <ion-icon slot="icon-only" name="close" color="dark"></ion-icon>
            </ion-button>
        </div>
    </ion-toolbar>
    <ion-toolbar *ngIf='!searchActivated'>
        <ion-title class="primary-color">Readit</ion-title>
        <ion-buttons slot="end">
            <ion-button style="width: 100%;" (click)="presentFilterOptions($event)">{{filterType}}
                <ion-icon slot="icon-only" name="arrow-dropdown"></ion-icon>
            </ion-button>
            <ion-button (click)="presentSearchBar(true)">
                <ion-icon name="search"></ion-icon>
            </ion-button>
            <ion-button (click)="presentUserOptions($event)">
                <ion-icon slot="icon-only" [name]="this.authenticationService.getAuthenticatedUser()?'person':'more'"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="getPosts($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <button routerLink="/dfwf" routerDirection="forward"></button>
    <ion-list>
        <ion-item *ngFor="let post of posts;let i = index">
            <ion-grid fixed>
                <ion-row>
                    <ion-col size="2" style="margin: auto" (click)="redirectToPost(post)">
                        <ion-thumbnail *ngIf="post.image">
                            <img [src]="post.image" />
                        </ion-thumbnail>
                    </ion-col>
                    <ion-col [size]="post.image?10:12">
                        <ion-grid fixed>
                            <ion-row (click)="redirectToPost(post)">
                                <ion-col size="12">
                                    <ion-text color="primary">
                                        <h5>{{post.title}}</h5>
                                    </ion-text>
                                    <ion-text>
                                        <p>{{post.content}}</p>
                                    </ion-text>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col class="col-fit-height" size="4">
                                    <ion-text color="secundary" class="small-font-size">u/{{post.userName}}</ion-text>
                                </ion-col>
                                <ion-col class="col-fit-height" size="4">
                                    <ion-text class="small-font-size">{{post.date | date:'mediumDate'}}</ion-text>
                                </ion-col>
                                <ion-col class="col-fit-height" size="4">
                                    <ion-button fill="clear" (click)="onPostLiked(post.id, i)">
                                        <ion-icon slot="icon-only" name="thumbs-up" [color]="userAlreadyLikesPost(i)?'danger':'primary'"></ion-icon>
                                        <ion-label [color]="userAlreadyLikesPost(i)?'danger':'primary'">{{post.nLikes}}</ion-label>
                                    </ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>
</ion-content>